@import 'src/styles/helpers.scss';
@import 'src/styles/mixins/media.scss';

.giantCard {
  @include flexbox(center, center);
  border: 1px solid $color-neutral-10;
  border-radius: $border-radius;

  .contentWrapper {
    max-height: 650px;
    flex: 0 0 50%;
    position: relative;
    max-width: 650px;
    align-self: flex-start;
    @include forDesktopBig {
      max-width: 100%;
    }

    @include b(541) {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .mediaContentWrapper {
      & .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: $transition;
        background: rgba($color-neutral-80, 0.3);
        opacity: 0;
        pointer-events: none;
        cursor: pointer;
        border-radius: $border-radius 0 0 $border-radius;
        @include flexbox(flex-end, flex-start);

        & svg {
          width: 20px;
          height: 20px;
          margin: 7px;
        }
      }

      &:hover {
        & .overlay {
          opacity: 1;
          pointer-events: none;
        }
      }
    }
  }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: $transition;

    &.active {
      opacity: 1;
      .mediaContent {
        border-radius: 0;
      }
    }

    &Image {
      min-width: 100%;
      min-height: 100%;
      transition: $transition;
      position: relative;

      &.active {
        z-index: 10001;
      }
    }

    .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba($color-neutral-80, 0.3);
      @include flexbox(flex-start, flex-end);
      pointer-events: none;

      svg {
        margin: 15px;
      }

      &.active {
        pointer-events: all;
      }
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  .mediaContent {
    transition: $transition;
    width: 100%;
    height: 100%;
    max-height: 650px;
    max-width: 650px;
    object-fit: contain;
    border-radius: $border-radius 0 0 $border-radius;
    &Wrapper {
      width: 100%;
      height: 100%;
    }
  }

  .zoomWrapper {
    width: 50px;
    height: 50px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
  }

  .cardInfo {
    padding: 32px;
    flex: 0 0 50%;
    max-width: 50%;

    @include forDesktopBig {
      max-width: 100%;
    }
    & > * {
      &:not(:first-child) {
        margin-bottom: 30px;
      }
    }

    .description {
      margin-bottom: 0;
    }
  }
}

.detailedViewsAndControl {
  border-bottom: 1px solid $color-neutral-10;
  padding-bottom: 24px;
}

.payment {
  @include flexbox(flex-start, flex-start);
  flex-direction: column;
}

@include forDesktopBig() {
  .giantCard {
    flex-direction: column;

    .mediaContent {
      width: 100%;
      max-height: 650px;
      border-radius: $border-radius $border-radius 0 0;
    }

    .cardInfo {
      width: 100%;
    }

    .overlay {
      border-radius: $border-radius $border-radius 0 0 !important;
    }
  }
}

.unlockButton {
  background: $color-primary;
  color: $color-neutral-0;
  padding: 8px 24px;
  border-radius: 12px;
  width: fit-content;
  @include flexbox;
  gap: 10px;
}
