@import 'src/styles/helpers';

.chartInfo {
  margin-top: 24px;
  @include flexbox(center, space-between);
  flex-wrap: wrap;
}

.averageValue {
  margin-top: 8px;
  @include flexbox(center, flex-start);
  gap: 8px;
}
