@import 'src/styles/helpers';
@import '/src/styles/mixins/media.scss';

.detailArtworkContent {
  @include container;
  padding-bottom: 30px;
  @include forDesktopMiddle {
    padding-bottom: 40px;
  }
  @include forDesktopSm {
    padding-bottom: 20px;
  }
  @include b(541) {
    padding: 0 12px;
  }
}

.properties {
  margin-top: 44px;
  margin-bottom: 24px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  @include forDesktopMiddle {
    display: block;
  }

  &.onlyHistory {
    display: block;
  }
}
.history {
  @include forDesktopMiddle {
    margin-top: 24px;
  }
}

.propsSections {
  display: grid;
  gap: 24px;
}

.loader {
  transform: scale(1.5);
  margin: 20px auto;
}

.relatedArtwork {
  position: relative;
  overflow: hidden;
  padding: 40px 0 0;
  &:after {
    z-index: -1;
    position: absolute;
    content: ' ';
    height: 100%;
    width: 1000%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 0px solid $color-neutral-80;
  }
  h3 {
    margin-bottom: 20px;
  }
}

.auctionSlider {
  margin: 40px 0;
}

.artCardsWrapper {
  width: 100%;
  @include autoGrid;
}

// .artCard {
//   width: max-content;
//   margin: 0 auto;
// }
