@import '/src/styles/helpers.scss';

.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  height: 100%;
  margin-right: 32px;
  padding: 20px 20px;

  max-height: 100vh;
  overflow: auto;

  &.active {
    padding: 0 20px;
    border-right: 1px solid $color-neutral-10;

    @include forDesktopSm {
      padding-left: 0px;
    }
  }
}

.hide_button {
  transform: rotate(180deg);
  &.active {
    transform: rotate(0);
  }
}
