@import 'src/styles/helpers';

.history {
  height: 100%;
  box-sizing: border-box;
}

.chartFilter {
  @include flexbox(baseline, space-between);
  border-bottom: 1px solid $color-neutral-10;
  padding-bottom: 20px;

  .chartSelect {
    @include flexbox;
    & > * {
      &:first-child {
        margin-right: 12px;
      }
    }
  }
}

.tableWrapper {
  height: 80%;
  overflow-y: auto;
}

.soldOut {
  margin-bottom: 24px;
}

@include forDesktopBig {
  .chartAndBidders {
    flex-direction: column;
  }

  .history {
    width: 100%;
    flex-basis: unset;
  }

  .chartWrapper {
    height: unset;
  }
}

.tableHistoryCell {
  @include flexbox(center, space-between);
}

.tableWrapper::-webkit-scrollbar {
  height: 4px;
}

.tableWrapper::-webkit-scrollbar-track {
  background: rgba(#bb86fc, 0.2);
}

.tableWrapper::-webkit-scrollbar-thumb {
  background: #bb86fc;
}

.tableWrapper::-webkit-scrollbar:vertical {
  width: 4px;
  height: auto;
}

.tableWrapper::-webkit-scrollbar-track:vertical {
  background: rgba(#bb86fc, 0.2);
}

.tableWrapper::-webkit-scrollbar-thumb:vertical {
  background: #bb86fc;
}
