@import 'src/styles/helpers';

.title {
  @include flexbox;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.notableDrops {
  @include container;
  margin-top: 88px;
}

.drops {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.drop {
  max-width: 350px;
  width: 100%;

  &Double {
    & + & {
      margin-left: 24px;
    }
  }
}

.swiper {
  height: 500px;
  padding: 0 30px;
}
