@import '../../styles/helpers.scss';

.discover {
  border-top: 1px solid $color-neutral-10;
  margin-top: 10px;
  &Title {
    margin-right: 24px;

    @include forDesktopSm {
      margin-right: 0;
    }
  }
}

.loaderBox {
  width: 100%;
  height: 100%;
  position: relative;
}

.filterBody {
  @include container;
  @include flexbox(center, space-between);
  .advancedFilterBtn {
    padding: 0 20px;
    color: $color-neutral-80 !important;
    border: 2px solid $color-neutral-10 !important;
    &:hover {
      background: rgba($color-neutral-10, 0.5) !important;
    }

    & .icon {
      margin-left: 10px;
    }

    &Empty {
      width: 170px;
    }
  }

  .filterTab {
    padding: 24px 15px;
    box-shadow: inset 0px -1px 0px transparent;
  }
}

.filterControls {
  border-bottom: 1px solid $color-neutral-10;
  position: relative;
  top: 1px;
}

.filterAndCards {
  position: relative;
  min-height: 50vh;
  transition: 200ms;
  transform: translateX(0);

  padding: 0 20px;

  display: grid;
  grid-template-columns: 75px 1fr;

  &.open {
    grid-template-columns: 380px 1fr;
  }

  @include forDesktopSm() {
    display: block;
    padding: 0;
  }

  .filter {
    flex: 0 1 0;
    height: auto;
    border-top: 1px solid $color-neutral-10;
    border-right: 1px solid $color-neutral-10;
    transition: 200ms;
    transform: translateX(-100vw);

    &.specClass {
      display: none;

      &.open {
        display: block;
        gap: 32px;
        margin-right: 30px;
      }
    }

    &.open {
      transform: translateX(0);
      flex: 0 0 300px;
    }
  }

  .filterResultsContainer {
    padding-right: 84px;

    @include forDesktopBig() {
      padding-right: 32px;
    }

    @include forDesktopSm() {
      padding-right: 0;
      padding: 0 20px;
    }

    padding-top: 35px;

    .filterResults {
      margin-top: 24px;
    }

    &.withFilter {
      flex-basis: calc(100% - 320px);
    }
  }
}

.modal {
  display: none;

  @include forDesktopSm {
    display: block;
  }
}

@include forDesktopSm {
  .filter {
    display: none;
  }

  .filterAndCards {
    .filterResultsContainer {
      &.withFilter {
        flex-basis: 100%;
      }
    }
  }

  .filterControls {
    .filterBody {
      padding: 0 24px;
      display: grid;
      gap: 18px;
      justify-content: center;
      margin-bottom: 20px;
      grid-template-areas:
        'filter select'
        'tab tab';

      .advancedFilterBtn {
        grid-area: filter;
        padding: 0 5px;
      }

      .tabArea {
        grid-area: tab;
        padding: 0;
      }

      .selectArea {
        grid-area: select;
      }

      .select {
        width: auto;
      }
    }
  }
}

.tabArea {
  padding: 0 20px;
}

.title {
  display: flex;
  gap: 8px;
  .gradientTitle {
    @include gradientText;
  }
}

.liveAuction {
  @include container;
  margin-top: 100px;
}

.recommendedArtworkBtn {
  @include flexbox();
  color: $color-secondary;
}

.recommendArtworkTitle {
  @include flexbox(center, space-between);
}

.recommendArtworkCardContainer {
  @include flexbox(center, space-evenly);
  flex-wrap: wrap;

  margin: -20px;
  padding-bottom: 50px;

  & > * {
    margin: 20px;
  }
}

.title {
  text-align: center;
  @include container;
  margin-top: 44px;
  margin-bottom: 20px;
  @include flexbox;
  flex-wrap: wrap;
}

@include forDesktopSm {
  .discover {
    padding: 0 20px;
  }

  .advancedFilter {
    display: none;
  }

  .mobileAdvancedFilter {
    display: block;
  }

  .filterResults,
  .filterAndCards {
    justify-content: center !important;
  }

  .filterResultsContainer {
    flex-basis: 100%;
    &.withFilter {
      flex-basis: 100%;
      .filterResults {
        @include autoGrid;
      }
    }
  }

  .advancedFilterBtn {
    font-size: 0 !important;
  }

  .recommendArtworkTitle {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }
}

@include forTablet {
  .discover {
    padding: 0;
  }
}

.select {
  width: 155px;
}

.image {
  margin-left: 10px;
}

.stickyWrapper {
}

.sticky {
  position: sticky;
  top: 0;
  transition: 0.4s ease;
}

.header {
  @include flexbox(center, space-between);
  flex-wrap: wrap;
  gap: 15px;
}
// toogler
.toogle_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 108px;
}
.toogle_item {
  background: $color-neutral-0;
  border: 2px solid $color-neutral-10;
  padding: 8px 15px;
  cursor: pointer;

  &.active {
    background-color: $color-neutral-10;
    svg rect {
      fill: $color-primary;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }

  &:first-child {
    border-radius: 12px 0px 0px 12px;
  }
  &:last-child {
    border-radius: 0px 12px 12px 0px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 25px;

  &.small {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  @include forDesktopSm {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.total {
  flex-grow: 1;
}
