@import 'src/styles/helpers';

.banner {
  position: relative;

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    opacity: 0.3;
    filter: blur(8px);
    -webkit-mask: linear-gradient(rgb(255, 255, 255), transparent);
  }
}

.inner {
  @include container;
  padding-top: 53px !important;
  @include flexbox(center, space-between);
  gap: 12px;
  @include forDesktopMiddle {
    flex-direction: column;
    gap: 36px;
  }
  position: relative;
  z-index: 2;
}

.info {
  @include flexbox(flex-start);
  flex-direction: column;
  @include forDesktopMiddle {
    align-items: center;
  }
}

.title {
  @include flexbox(flex-start);
  flex-direction: column;
  text-transform: uppercase;
  gap: 16px;

  &Row {
    font-size: 40px !important;
    &_small {
      text-transform: none;
    }
  }
  &Gradient {
    @include gradientText;
  }

  @include forDesktopMiddle {
    align-items: center;
  }
}

.description {
  margin-top: 12px;
  max-width: 460px;
  @include forDesktopMiddle {
    text-align: center;
  }
}

.buttons {
  margin-top: 34px;
  @include flexbox;
  gap: 20px;
}
