@import 'src/styles/helpers';

.paymentSell {
  border: 1px solid $color-neutral-10;
  padding: 24px;
  background: $color-neutral-7;
}

.purchaseButton {
  @include flexbox;
  font-size: 16px;
  line-height: 160%;
  font-weight: 600;
  width: 100%;
  max-width: 250px;
  padding: 7.5px 72px;
  &:only-child{
    max-width: 100%;
  }
  @include forDesktopSm {
    padding: 8px 12px;
    width: 100%;
  }
}

.priceWrapper {
  position: relative;
  @include flexbox(center, space-between);
  text-transform: uppercase;

  & > * {
    margin-right: 10px;
  }
}

.growth {
  padding: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(39, 209, 170, 0.24);
}

.priceAndGrowth {
  margin: 5px 0;
  & > * {
    &:first-child {
      margin-right: 10px;
    }
  }
}

.growthWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.sellBtnsWrapper {
  @include flexbox(center, normal);
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 15px;
}

.left {
  width: 100%
}

.right {
  @include flexbox(center, center);
  flex-direction: column;
  margin-bottom: 12px;
  align-self: center;

  &Title {
    font-weight: 500;
    color: $color-neutral-100;
    font-size: 15px;
  }

  &Times {
    @include flexbox(flex-start, space-around);
    width: 100%;

    &Item {
      @include flexbox(center, center);
      flex-direction: column;
    }
  }
}
