@import '../../../styles/helpers.scss';

.user {
  position: relative;
  background-color: $color-primary;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  animation: up-to-down 80s linear infinite;

  height: 220px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
  }
}

@keyframes up-to-down {
  0% {
    background-position-y: 50%;
  }
  25% {
    background-position-y: 100%;
  }
  50% {
    background-position-y: 50%;
  }
  75% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 50%;
  }
}

.inner {
  @include flexbox;
  flex-direction: column;
  min-height: 45vh;
  position: relative;
  z-index: 3;
  top: -85px;
  margin-bottom: -45px;
}

.user_avatar {
  margin-bottom: 15px;

  img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    object-fit: cover;
  }
}

.user_name {
  @include sora;
  margin-bottom: 5px;
  @include forTablet {
    font-size: 24px;
  }
}

.user_buttons {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // gap: 8px;
}

.user_button {
  padding: 6px 33px;
  font-weight: 600;
  font-size: 16px;
  gap: 8px;
  @include flexbox;
  @include forTablet {
    padding: 6px 12px;
    font-size: 15px;
  }
}
.user {
  &_edit {
    transform: translateY(2px);
  }
}

.user_info {
  @include flexbox;
  flex-direction: column;
  padding: 0 10px;
  margin-bottom: 8px;
  text-align: center;

  & + & {
    margin-bottom: 16px;
  }

  &__icon {
    background: $color-neutral-1;
    margin-right: 8px;
    border-radius: 50%;

    @include flexbox;
  }

  &__value {
    max-width: 50%;

    @include forDesktopSm {
      max-width: 100%;
    }
  }

  &__button {
    cursor: pointer;
  }

  &__value {
    font-size: 16px;
  }
}

.collection_statistic {
  @include flexbox;
  border: 1px solid $color-neutral-10;

  border-radius: $border-radius;

  margin-top: 30px;
  margin-bottom: 40px;

  @include forDesktopSm {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.stat {
  text-align: center;
  padding: 22px 40px;

  @include forTablet {
    padding: 11px 25px;
  }

  & + & {
    border-left: 1px solid $color-neutral-10;
  }
}

.link {
  color: $color-primary;
}
