@import 'src/styles/helpers';

.resourceForGettingStarted {
  @include container;
  margin-top: 88px;
  margin-bottom: 46px;
}

.box {
  margin-top: 64px;
  gap: 35px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  @include forDesktopMiddle {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.resourcesBlock {
  .resourcesImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
  }
  .resourcesImageWrapper {
    aspect-ratio: 1/1;
    width: 100%;
    border: 1px solid $color-neutral-9;
    border-radius: $border-radius;
  }
  .resourcesText {
    padding: 30px 25px 39px;
    width: 100%;
    text-align: center;
  }
}
