@import 'src/styles/helpers';

.resourceForGettingStarted {
  @include container;
  margin-top: 188px;
  margin-bottom: 46px;
}

.box {
  margin-top: 64px;
  @include flexbox(flex-start, space-between);
  gap: 35px;
  flex-wrap: wrap;
}

.resourcesBlock {
  .resourcesImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
  }
  .resourcesImageWrapper {
    max-width: 350px;
    max-height: 350px;
    aspect-ratio: 1/1;
    width: 100%;
    border: 1px solid $color-neutral-9;
    border-radius: $border-radius;
  }
  .resourcesText {
    padding: 30px 25px 39px;
    width: 100%;
    text-align: center;
  }
}
